{% extends "account/base.html" %}
{% load socialaccount %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
{% block content %}
<body>
    <h1>Home</h1>
    {% if user.is_authenticated %}
    <p>Welcome, you are logged in as user {{ user.firstname }}</p>
    <div class="col-md-3">
        <form class="magnet_link" method="POST" action="{% url 'home' %}">
        {% csrf_token %}
            <!-- Magnet Link input -->
            <div class="form-outline mb-4">
                <input type="text" name='magnet_link' required id="id_magnet_link" class="form-control" />
                <label class="form-label" for="id_magnet_link">Input Magnet Link</label>
            </div>
            <button type="submit" class="btn btn-primary mb-4">Submit</button
        </form>
    {% else %}
    <a href="{% provider_login_url 'google' %} ">Login with Google.</a>
    {% endif %}

    <script src="" async defer></script>
</body>
{% endblock %}
</html>